body {
  /* font-family: "Actor", sans-serif; */
  font-family: "Fredoka One", cursive;
  /* font-family: "Kaushan Script", cursive; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* background-color: black; */
}

footer {
  border-top: 5px dotted rgb(5, 15, 192);
}
